@media only screen and (max-width: 1000px) {
    .coach-photo1 {
        flex: 1 1 25rem
    }
    .coach-photo2 {
        flex: 1 1 25rem
    }
    .coach-photo3 {
        flex: 1 1 25rem
    }
    .coach-photo4 {
        flex: 1 1 25rem
    }
    .coach-photo5 {
        flex: 1 1 25rem
    }
    .coach-photo6 {
        flex: 1 1 25rem
    }
}

@media only screen and (max-width: 718px) {
    html {
        font-size: 50%;
    }
    .ticket-photo3 {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    html {
        font-size: 40%;
    }
    nav {
        height: 26vh;
        font-size: 57%;
    }
    .nav-links {
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-links>li>a {
        color: grey;
        padding: 1.5rem 1rem;
    }
}

@media only screen and (max-width:340px) {
    html {
        font-size: 38%;
    }
    .nav-links>li>a {
        color: grey;
        padding: 1.5rem 0.5rem;
    }
}