$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
@import 'global';
.wrapper {
    max-width: 2400px;
    margin: 0 auto;
}

// ------navigation-------
.main-head {
    width: 95%;
    margin: 0 0 0 auto;
}

nav {
    height: 10vh;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
}

li {
    text-transform: uppercase;
}

li>a {
    // display: inline-block;
    color: grey;
    white-space: nowrap;
    padding: 1.5rem 2rem;
}

li>a:hover {
    color: black;
    text-decoration: underline;
}

// ------hero-section----------
.hero {
    // position: relative;
    height: 80vh;
}

.hero-introduction {
    display: flex;
}

.hero-logo {
    flex: 1 1 10rem
}

.hero-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image {
    flex: 2 1 1rem
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-square {
    position: relative;
    top: -2.5rem;
    width: 8.5rem;
    height: 4rem;
    background: palevioletred;
}

.hero-description {
    width: 95%;
    margin: auto;
    padding-left: 1rem;
}

@import 'media'