* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-slider-1 {
  margin: 0 auto;
  max-width: 1300px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide-box div {
  height: 585px;
}

.slider1 {
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-a399fff3--WalkseyDownSuitADHomeFunctionalityAllInOneConvenience.jpg?v=1620666070");
  display: block;
  background-attachment: local;
  border-radius: 15px;
  border: 3px solid #ddd;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider2 {
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-d5a4c2a8--WalkseyDownSuitADHomeFunctionalityAllWeatherProtection.gif?v=1620123210");
  display: block;
  background-attachment: local;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider3 {
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-b464d5a4--WalkseyDownSuitADHomeFunctionality3SeasonProtection.gif?v=1620123202");
  display: block;
  background-attachment: local;
  border-radius: 15px;
  border: 3px solid #ddd;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider4 {
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-fff38538--WalkseyDownSuitADHomeFunctionalityUltimateFunctionality.jpg?v=1620666656");
  display: block;

  background-attachment: local;
  border-radius: 15px;
  border: 3px solid #ddd;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-box-contnet-info {
  position: relative;
  width: 38%;
  top: 50%;
  left: 5%;
  display: flex;
  flex-direction: column;
  transform: translateY(-25%);
}

.slider-box-contnet-icon {
  display: flex;
}

.slider-box-contnet-icon img {
  width: 50px;
}

@media screen and (min-width: 1300px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1024px) {
  .slider1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-47a72e60--WalkseyDownSuitTHomeFunctionalityAllInOneConvenience.jpg?v=1620669060");
    padding: 5% 0 0;
    background-position: center center;
  }

  .slider2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-4847a72e--WalkseyDownSuitTHomeFunctionalityAllWeatherProtection.gif?v=1620669019");
    padding: 5% 0 0;
    background-position: center center;
  }
  .slider3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-bf4847a7--WalkseyDownSuitTHomeFunctionality3SeasonProtection.gif?v=1620668936");
    padding: 5% 0 0;
    background-position: center center;
  }
  .slider4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0486/4124/5339/t/6/assets/pf-2e60196d--WalkseyDownSuitTHomeFunctionalityUltimateFunctionality.jpg?v=1620669181");
    padding: 5% 0 0;
    background-position: center center;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 520px) {
}

@media screen and (max-width: 408px) {
}
